/*Confirmatio Page*/

.confirmation_step {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-bottom: 85px;
}

.cs_text {
    margin-left: 40px;
}

.cs_text p {
    margin: 0;
    max-width: 420px;
    width: 100%;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 30px;
}

.confirmation_step.active_step .cs_text {
    max-width: 355px;
}

.confirmation_step.active_step p {
    color: #0073CF;
    font-weight: 600;
}

.confirmation_step.default_step::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background: #BEBEBE;
    transform: translate(-50%, -50%);
    left: 30px;
    top: 50%;
    z-index: -1;
}

.cs_icon {
    background: #fff;
    position: relative;
}

.confirmation_step.active_step::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background: #0073CF;
    transform: translate(-50%, -50%);
    left: 30px;
    top: 50%;
    z-index: -1;
}

.col-left-content h3 {
    color: #2C2C2C;
    font-size: 20px;
    font-weight: 600;
}

.pb-120 {
    padding-bottom: 120px;
}


/*Tracking Page*/

.tracking_header {
    text-align: center;
    border-bottom: 1px solid rgb(190 190 190 / 50%);
    padding: 20px;
}

.tracking_items {
    padding: 60px 80px;
}

.tracking_content,
.review_content {
    background: #fff;
    position: relative;
    z-index: 1;
    margin-top: -70px;
    box-shadow: 0 37px 40px rgb(110 110 110 / 8%);
    border-radius: 10px;
}

.tracking_header h4 {
    margin: 0;
    color: #505050;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 600;
}

.tracking_col p {
    margin: 0px;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 30px;
    margin-top: 38px;
}

.tracking_col.default p {
    color: #0073CF;
    font-weight: 600;
}

.tracking_col {
    position: relative;
}

.tracking {
    padding-bottom: 140px;
}

.tracking_col::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #BEBEBE;
    transform: translate(-50%, -50%);
    left: 65%;
    top: 30px;
    z-index: -1;
}

.tracking_col.completed::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #0073cf;
    transform: translate(-50%, -50%);
    left: 65%;
    top: 30px;
    z-index: -1;
}

.tracking_item_row .colmd:nth-child(3) .tracking_col.completed::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #BEBEBE;
    transform: translate(-50%, -50%);
    left: 65%;
    top: 30px;
    z-index: -1;
}

.tracking_item_row .colmd:nth-child(4) .tracking_col::after {
    display: none;
}

.tracking_item_row {
    display: flex;
}

.colmd .tc_icon {
    margin-right: 225px;
}

.tracking_col p {
    max-width: 175px;
    width: 100%;
}

section.inner-header-section.tracking_header_section {
    padding-bottom: 120px;
}


/*Submit Review*/

.review_content {
    padding: 65px 0px;
}

.review_form {
    max-width: 630px;
    margin: 0 auto;
}

.review_form label {
    color: #505050;
    font-size: 16px;
}

.review_form .form-control {
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    font-size: 16px;
    color: #2C2C2C;
    font-weight: 500;
}

.review_form input.form-control {
    height: 65px;
}

.review_form .form-control:focus {
    color: #2C2C2C;
    font-weight: 500;
}

.review_form .form-control::placeholder {
    color: #BEBEBE;
    font-weight: 400;
}

.review_form .form-row>[class*=col-] {
    padding-right: 15px;
    padding-left: 15px;
}

p.rate_bottom_text {
    font-size: 16px;
    color: #2C2C2C;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
}

.rate_stars label {
    background: #00CF07;
    color: #fff;
    padding: 8px 9px;
    border-radius: 4px;
    margin-right: 20px;
    cursor: pointer;
    padding-bottom: 7px;
}

.rate_stars label input {
    display: none;
}

.rate_stars label:last-child {
    margin-right: 0px;
}

button.btn.btn-submit.btn-blue {
    padding: 16px 30px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 40px;
}

section.review_submit {
    padding-bottom: 140px;
}


/*Popup*/

section.thank-you-popup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 53 96 / 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear all;
}

section.thank-you-popup.show {
    z-index: 100;
    opacity: 1;
    visibility: visible;
}

.thank-you-popup-wrap {
    max-width: 1170px;
    width: 100%;
    background: #fff;
    padding-top: 60px;
    padding-bottom: 70px;
    border-radius: 10px;
    position: relative;
    transition: .1s linear all;
    margin-top: 5%;
}

.ty_form.text-center {
    max-width: 630px;
    margin: 0 auto;
    padding-top: 60px;
}

.ty_form.text-center input.form-control {
    margin: 0;
    height: 65px;
}

.ty_text h3 {
    color: #2C2C2C;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

.ty_text p {
    color: #505050;
    margin-bottom: 70px;
    font-size: 16px;
}

button.btn.btn-submit-email.btn-blue.mt-5 {
    text-transform: uppercase;
    font-weight: 500;
}

button.close-pop {
    background: transparent;
    border: 0px;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}

section.thank-you-popup.show .thank-you-popup-wrap {
    margin-top: 0%;
}

@media screen and (max-width:767px) {
    .review_content {
        padding: 25px 5px;
    }
    section.inner-header-section.pb-100.pt-60.tracking_header_section.submit-review-header {
        padding-bottom: 100px;
    }
    button.btn.btn-submit.btn-blue {
        padding: 16px 30px;
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 25px;
    }
    section.review_submit {
        padding-bottom: 100px;
    }
    .thank-you-popup-wrap {
        max-width: 1170px;
        width: 95%;
        background: #fff;
        padding-top: 25px;
        padding-bottom: 30px;
        border-radius: 10px;
        position: relative;
        transition: .1s linear all;
        margin-top: 5%;
    }
    .ty_text h3 {
        color: #2C2C2C;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .ty_text p {
        color: #505050;
        margin-bottom: 70px;
        font-size: 16px;
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
        line-height: initial;
    }
    .ty_form.text-center {
        max-width: 630px;
        margin: 0 auto;
        padding-top: 30px;
        width: 90%;
    }
    button.btn.btn-submit-email.btn-blue.mt-5 {
        margin-top: 25px !important;
    }
    .ty_form.text-center input.form-control {
        height: 55px;
    }
    .confirmation_step {
        position: relative;
        display: flex;
        align-items: flex-start;
        padding-bottom: 35px;
    }
    .cs_text p {
        margin: 0;
        max-width: 420px;
        width: 100%;
        color: #2C2C2C;
        font-size: 16px;
        line-height: 26px;
        width: 100%;
    }
    .cs_text {
        margin-left: 30px;
    }
    .col-left-content h3 {
        color: #2C2C2C;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0px !important;
    }
    .container.confirmation_row .col-right-content.text-right {
        text-align: center !important;
        margin-top: -20px;
    }
    /*Tracking*/
    .tracking_items {
        padding: 40px 20px;
    }
    .tracking_item_row {
        display: flex;
        flex-direction: column;
    }
    .colmd .tc_icon {
        margin-right: 0;
    }
    .tracking_col {
        position: relative;
        display: flex;
    }
    .tracking_col p {
        max-width: 200px;
        width: 100%;
        margin: 0px;
        margin-left: 20px;
        line-height: normal;
        font-size: 16px;
    }
    .tracking_col {
        position: relative;
        display: flex;
        margin-bottom: 40px;
    }
    .tracking_col.completed::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 1px;
        background: #0073cf;
        transform: translate(-50%, -50%);
        left: 30px;
        top: 90px;
        z-index: -1;
    }
    .tracking_item_row .colmd:nth-child(3) .tracking_col.completed::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 1px;
        background: #BEBEBE;
        transform: translate(-50%, -50%);
        left: 30px;
        top: 90px;
        z-index: -1;
    }
    .tracking_item_row .colmd:nth-child(4) .tracking_col {
        margin-bottom: 0px;
    }
    .tracking_header h4 {
        margin: 0;
        color: #505050;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 26px;
        font-weight: 600;
    }
    .tracking_content {
        background: #fff;
        position: relative;
        z-index: 1;
        margin-top: -67px;
        box-shadow: 0 37px 40px rgb(110 110 110 / 8%);
        border-radius: 10px;
    }
    .tracking_col p {
        padding-top: 5px;
    }
    .tracking {
        padding-bottom: 90px;
    }
    section.inner-header-section.pb-100.pt-60.tracking_header_section {
        padding-bottom: 95px;
    }
    .cs_icon img {
        width: 40px;
    }
    .confirmation_step.default_step::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 1px;
        background: #BEBEBE;
        transform: translate(-50%, -50%);
        left: 20px;
        top: 50%;
        z-index: -1;
    }
    .confirmation_step.active_step::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 1px;
        background: #0073CF;
        transform: translate(-50%, -50%);
        left: 20px;
        top: 50%;
        z-index: -1;
    }
    section.confirmation-section.pt-100.pb-120 {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    .container.confirmation_row .col-right-content.text-right {
        text-align: center !important;
        margin-top: 0;
    }
    .cs_text p {
        font-size: 15px;
        line-height: 26px;
        width: 100%;
    }
    .tc_icon img {
        width: 40px;
    }
    .tracking_col.completed::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 1px;
        background: #0073cf;
        transform: translate(-50%, -50%);
        left: 20px;
        top: 68px;
        z-index: -1;
    }
    .tracking_item_row .colmd:nth-child(3) .tracking_col.completed::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 1px;
        background: #BEBEBE;
        transform: translate(-50%, -50%);
        left: 20px;
        top: 60px;
        z-index: -1;
    }
    p.rate_bottom_text {
        margin-bottom: 15px;
    }
    .container.confirmation_row .row {
        flex-direction: column-reverse;
    }
    .container.confirmation_row .col-right-content.text-right img.img-fluid {
        max-width: 200px;
        margin-bottom: 55px;
    }
}

@media screen and (max-width:991px) and (min-width:768px) {
    section.inner-header-section.pb-100.pt-60.tracking_header_section.submit-review-header {
        padding-bottom: 100px;
    }
    .review_content {
        padding: 40px 0px;
    }
    .thank-you-popup-wrap {
        max-width: 1170px;
        width: 95%;
        background: #fff;
        padding-top: 45px;
        padding-bottom: 50px;
        border-radius: 10px;
        position: relative;
        transition: .1s linear all;
        margin-top: 5%;
    }
    .ty_text p {
        color: #505050;
        margin-bottom: 70px;
        font-size: 16px;
        max-width: 60%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .confirmation_row {
        flex-direction: column;
    }
    .confirmation_row .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container.confirmation_row .col-right-content.text-right {
        text-align: center !important;
        margin-top: -20px;
    }
    section.confirmation-section.pt-100.pb-120 {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    .tracking_items {
        padding: 50px 50px;
    }
    .colmd .tc_icon {
        margin-right: 115px;
    }
    .tracking_col p {
        max-width: 155px;
        width: 100%;
        font-size: 16px;
        line-height: normal;
        margin-top: 25px;
    }
    section.inner-header-section.pb-100.pt-60.tracking_header_section {
        padding-bottom: 100px;
    }
}

@media screen and (max-width:1024px) and (min-width:992px) {
    .thank-you-popup-wrap {
        max-width: 1170px;
        width: 95%;
        background: #fff;
        padding-top: 50px;
        padding-bottom: 55px;
    }
    section.confirmation-section.pt-100.pb-120 {
        padding-bottom: 40px;
    }
    .colmd .tc_icon {
        margin-right: 155px;
    }
    section.tracking {
        padding-bottom: 100px;
    }
    .confirmation_step {
        padding-bottom: 65px;
    }
}
